@media (max-width: 767px) {
  :root {
    --border-radius: var(--mobile-radius);
  }
}
/* General Resets */
body {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
button,
a,
select,
textarea {
  font-family: inherit;
}

input:focus,
button:focus,
a:focus,
select:focus,
textarea:focus {
  outline: 0;
}

input::-moz-placeholder {
  color: inherit;
}

input::placeholder {
  color: inherit;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  outline: 0;
  font-family: inherit;
}

a,
img,
button,
input,
select {
  transition: all 0.3s ease;
}

[role=button] {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

input {
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input::-webkit-search-decoration, input::-webkit-search-cancel-button, input::-webkit-search-results-button, input::-webkit-search-results-decoration {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.fa-snapchat::before {
  content: "\f2ac";
}

.fa-facebook::before {
  content: "\f39e";
}

.fa-linkedin::before {
  content: "\f0e1";
}

.la-snapchat::before {
  content: "\f2ac";
}

.la-facebook::before {
  content: "\f39e";
}

.la-linkedin::before {
  content: "\f0e1";
}

body {
  font-family: "Vazirmatn", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: #030303;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #1263dc #f2f2f2;
}

body::-webkit-scrollbar {
  background-color: #f2f2f2;
  width: 8px;
  height: 4px;
}
body::-webkit-scrollbar-thumb {
  background-color: #1263dc;
  border-radius: 4px;
}

.overflow {
  overflow: hidden;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 1180px;
}

.container-fluid {
  padding: 0 30px;
  width: 100%;
}
@media (max-width: 1199px) {
  .container-fluid {
    padding: 0 20px;
  }
}

.select-content {
  position: relative;
}
.select-content::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  inset-inline-end: 28px;
  font-size: 14px;
  color: #030303;
  font-family: "Line Awesome Free";
  font-weight: 900;
  content: "\f107";
}

.img-contain {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.img-cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.en {
  display: inline-block;
  direction: ltr;
}

iframe {
  width: 100%;
  height: 100%;
}

.footer-landing-page4 {
  padding: 112px 0 46px;
  color: #fff;
  position: relative;
}
@media (max-width: 1199px) {
  .footer-landing-page4 {
    padding: 70px 0;
  }
}
@media (max-width: 767px) {
  .footer-landing-page4 {
    padding: 76px 0 20px;
  }
}
.footer-landing-page4 .container {
  max-width: 1260px;
}
.footer-landing-page4 .bg-img {
  position: absolute;
  inset-inline-end: 0;
  width: 50%;
  height: 100%;
  z-index: 0;
  top: 0;
  clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
  overflow: hidden;
}
@media (max-width: 991px) {
  .footer-landing-page4 .bg-img {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .footer-landing-page4 .bg-img {
    bottom: 64px;
    top: unset;
    width: 100%;
    height: 384px;
    clip-path: polygon(0 0, 100% 30%, 100% 100%, 0 100%);
  }
}
html[dir=ltr] .footer-landing-page4 .bg-img {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
}
@media (max-width: 767px) {
  html[dir=ltr] .footer-landing-page4 .bg-img {
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
  }
}
.footer-landing-page4 .bg-img::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: rgba(10.2857142857, 56.5714285714, 125.7142857143, 0.2);
}

.footer-cont {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  padding-bottom: 84px;
}
@media (max-width: 991px) {
  .footer-cont {
    padding-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .footer-cont {
    flex-direction: column;
    align-items: start;
    padding-bottom: 0;
    border: none;
    gap: 109px;
  }
}

.footer-info {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  max-width: 455px;
}
.footer-info .footer-logo {
  max-width: 299px;
  aspect-ratio: 299/83;
}
@media (max-width: 991px) {
  .footer-info .footer-logo {
    max-width: 200px;
  }
}
@media (max-width: 767px) {
  .footer-info .footer-logo {
    max-width: 191px;
    margin-bottom: 10px;
  }
}
.footer-info .footer-desc {
  font-size: 40px;
  font-weight: 700;
  color: #030303;
}
@media (max-width: 991px) {
  .footer-info .footer-desc {
    font-size: 28px;
  }
}
@media (max-width: 767px) {
  .footer-info .footer-desc {
    font-size: 25px;
    max-width: 207px;
    margin-bottom: 24px;
  }
}

.contact-menue {
  display: flex;
  gap: 32px;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 767px) {
  .contact-menue {
    width: 100%;
  }
}
.contact-menue .contact-menu-cont {
  display: flex;
  gap: 20px;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 767px) {
  .contact-menue .contact-menu-cont {
    width: 100%;
  }
}
.contact-menue .contact-menu-cont .contact-btn {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: start;
  background: linear-gradient(137.93deg, rgb(6.4285714286, 35.3571428571, 78.5714285714) 22.71%, rgba(18, 99, 220, 0.7) 68.29%);
  padding: 16px 24px;
  border: 1px solid #ffffff;
  border-radius: 64px;
  width: 100%;
}
@media (max-width: 767px) {
  .contact-menue .contact-menu-cont .contact-btn {
    white-space: wrap;
    padding: 17px 24px;
  }
}
html[dir=ltr] .contact-menue .contact-menu-cont .contact-btn {
  background: linear-gradient(257.93deg, rgb(6.4285714286, 35.3571428571, 78.5714285714) 22.71%, rgba(18, 99, 220, 0.7) 68.29%);
}
.contact-menue .contact-menu-cont .contact-btn .las {
  font-size: 20px;
}
@media (max-width: 767px) {
  .contact-menue .contact-menu-cont .contact-btn .las {
    font-size: 18px;
  }
}
.contact-menue .contact-menu-cont .contact-btn .contact-type {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}
@media (max-width: 991px) {
  .contact-menue .contact-menu-cont .contact-btn .contact-type {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .contact-menue .contact-menu-cont .contact-btn .contact-type {
    font-size: 14px;
    font-weight: 300;
  }
}

.copyrightplussocials {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  margin-top: 32px;
  background-color: #fff;
  border: 1px solid rgb(215.7142857143, 230.1785714286, 251.7857142857);
  border-radius: 64px;
  padding: 21px 24px;
}
@media (max-width: 767px) {
  .copyrightplussocials {
    flex-direction: column-reverse;
    align-items: start;
    padding: 0;
    border: none;
    background-color: transparent;
    margin-top: 16px;
  }
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
@media (max-width: 767px) {
  .socials {
    padding-bottom: 16px;
    width: 100%;
    justify-content: start;
    display: none;
  }
}
.socials.xs {
  display: none;
}
@media (max-width: 767px) {
  .socials.xs {
    display: flex;
  }
}
.socials a {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  transition: all 0.4s ease-in-out;
  border: 1px solid rgb(215.7142857143, 230.1785714286, 251.7857142857);
}
.socials a .lab {
  color: #1263dc;
  font-size: 18px;
  transition: all 0.4s ease-in-out;
}
.socials a:hover {
  background-color: #1263dc;
  border: 2px solid #1263dc;
}
.socials a:hover .lab {
  color: #fff;
}

.cobyright {
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: 300;
  color: rgb(28.5, 28.5, 28.5);
  position: relative;
  z-index: 2;
  line-height: 2.2;
}
@media (max-width: 767px) {
  .cobyright {
    border-radius: unset;
    padding-top: 20px;
    width: 100%;
  }
}
.cobyright .company {
  color: #1263dc;
  margin-inline-start: 4px;
}/*# sourceMappingURL=main.css.map */