.banner2 {
  padding: 150px 0;
  @include sm {
    padding: 40px 0;
  }
}
.banner2-cont {
  padding: 105px 90px 90px 90px;
  background-color: $setting_primary_color;
  border-radius: 24px;
  @include sm {
    border-radius: 16px;
    padding: 60px 50px 50px 50px;
  }
  @include xs {
    padding: 20px;
  }
}
.banner-title {
  color: #fff;
  font-size: 48px;
  font-weight: $weight_bold;
  text-align: center;
  margin-bottom: 8px;
  padding: 0 40px;
  @include md {
    font-size: 36px;
  }
  @include sm {
  }
  @include xs {
    font-size: 20px;
    padding: 0;
    margin-bottom: 20px;
  }
}

.banner-img {
  aspect-ratio: 960/327;
  width: 100%;
  border-radius: 24px;
  position: relative;
  @include sm {
    aspect-ratio: 960/400;
    border-radius: 16px;
  }
  @include xs {
    aspect-ratio: 1.4;
  }
  .img-cover {
    display: flex;
    border-radius: 24px;
    @include sm {
      border-radius: 16px;
    }
    @include xs {
      border-radius: 14px;
    }
  }
  .banner-btn-parent {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: $setting_primary_color;
    padding: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    @include sm {
      padding: 14px;
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;
    }
    @include xs {
      padding: 8px;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
    }
    &::after {
      position: absolute;
      content: "";
      top: 0px;
      right: -40px;
      width: 40px;
      height: 22px;
      background-color: transparent;
      border-top-left-radius: 30px;
      box-shadow: -10px -5px 0 0px $setting_primary_color;
      @include sm {
        border-radius: 18px;
      }
    }
    &::before {
      position: absolute;
      content: "";
      top: 0px;
      left: -40px;
      width: 40px;
      height: 22px;
      background-color: transparent;
      border-top-right-radius: 30px;
      box-shadow: 10px -5px 0 0px $setting_primary_color;
      @include sm {
        border-radius: 18px;
      }
    }
    .banner-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 49px;
      border-radius: 16px;
      background-color: #fff;
      color: $setting_primary_color;
      padding: 0 95px;
      width: 100%;
      font-size: 16px;
      font-weight: $weight_medium;
      border: 2px solid #fff;
      transition: all 0.4s ease-in-out;
      white-space: nowrap;
      &:hover {
        background-color: $setting_primary_color;
        color: #fff;
      }
      @include sm {
        height: 40px;
        border-radius: 10px;
        padding: 0 60px;
      }
      @include xs {
        padding: 0 30px;
        height: 35px;
        border-radius: 8px;
        font-size: 14px;
      }
    }
  }
}
