.hero10 {
  height: 100vh;
  min-height: 600px;
  @include sm {
    min-height: 500px;
  }
  .container {
    max-width: 1300px;
  }
}

.hero10-cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  position: relative;
  @include md {
    gap: 20px;
  }

  @include sm {
    grid-template-columns: 1fr;
  }
  @include xs {
    gap: 0;
  }
}
.hero10-info {
  position: relative;
  &::after {
    position: absolute;
    content: "";
    inset-inline-end: 0;
    top: 0;
    height: 100%;
    width: 100vw;
    background-color: $setting_primary_color;
    border-start-end-radius: 162px;
    z-index: -1;
    @include sm {
      inset-inline-end: -20px;
      border-bottom-left-radius: 32px;
      border-bottom-right-radius: 32px;
      border-start-end-radius: unset;
      width: calc(100% + 40px);
    }
  }

  .hero-info-cont {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 24px;
    height: 100%;
    max-width: 555px;
    position: relative;
    z-index: 2;
    padding: 53px 0 33px 0;
    @include sm {
      max-width: unset;
    }
  }
  .hero10-title {
    font-size: 48px;
    font-weight: $weight_bold;
    color: #fff;
    text-align: start;
    margin-bottom: 0;
    @include md {
      font-size: 32px;
    }
    @include sm {
      font-size: 48px;
    }
    @include xs {
      font-size: 23px;
    }
  }
  .hero10-desc {
    font-size: 16px;
    font-weight: $weight_medium;
    color: #fff;
    padding-inline-end: 10px;
    // overflow: hidden;
    // display: -webkit-box;
    // -webkit-line-clamp: 3;
    // -webkit-box-orient: vertical;
    // height: 65px;
    @include xs {
      font-size: 14px;
      font-weight: $weight_light;
    }
  }
  .hero10-btns {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 24px;
    width: 100%;
    @include xs {
      gap: 18px;
    }
    .about-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 48px;
      border-radius: 8px;
      max-width: 270px;
      padding: 0 10px;
      width: 100%;
      color: $setting_primary_color;
      font-size: 16px;
      font-weight: $weight_bold;
      background-color: #fff;
      border: 2px solid $setting_primary_color;
      transition: all 0.4s ease-in-out;
      @include xxs {
        max-width: 100%;
      }

      &:hover {
        // background-color: darken($color: $setting_primary_color, $amount: 10%);
      }
    }
  }
  .info-bg {
    position: absolute;
    inset-inline-end: 0;
    top: 0;
    height: 100%;
    width: calc(100% + 20px);
    border-start-end-radius: 162px;
    z-index: 0;
    @media (min-width: 1500px) {
      top: 25%;
    }
    @include sm {
      inset-inline-end: -20px;
      border-bottom-left-radius: 32px;
      border-bottom-right-radius: 32px;
      border-start-end-radius: unset;
      width: calc(100% + 40px);
    }
    @include xs {
      display: none;
    }
  }
  .info-bg-xs {
    display: none;
    @include xs {
      display: block;
      position: absolute;
      inset-inline-end: -20px;
      border-bottom-left-radius: 32px;
      border-bottom-right-radius: 32px;
      width: calc(100% + 40px);
      top: 0;
      height: 100%;
      z-index: 0;
    }
  }
}
.hero10-imgs {
  display: flex;
  align-items: center;
  .hero10-imgs-cont {
    position: relative;
    aspect-ratio: 495/421;
    max-width: 495px;
    margin-inline-start: auto;
    width: 100%;
    // display: flex;
    // flex-wrap: wrap;
    // gap: 18px;
    @include sm {
      max-width: unset;
      margin-inline-start: unset;
      margin: 40px 0;
    }
    @include xs {
      aspect-ratio: 327 / 285;
    }

    .hero10-img:nth-of-type(1) {
      position: absolute;
      width: 32%;
      bottom: 37%;
      inset-inline-start: 0;
      aspect-ratio: 172/179;
      border-start-start-radius: 112px;
      border-start-end-radius: 112px;
      border-end-start-radius: 14px;
      border-end-end-radius: 14px;
      overflow: hidden;
      @include xs {
        border-start-start-radius: 74px;
        border-start-end-radius: 74px;
        border-end-start-radius: 9px;
        border-end-end-radius: 9px;
      }
    }
    .hero10-img:nth-of-type(2) {
      position: absolute;
      width: 64%;
      bottom: 37%;
      inset-inline-end: 0;
      aspect-ratio: 333/319;
      border-start-start-radius: 264px;
      border-start-end-radius: 264px;
      border-end-start-radius: 14px;
      border-end-end-radius: 14px;
      overflow: hidden;
      @include xs {
        border-start-start-radius: 174px;
        border-start-end-radius: 174px;
        border-end-start-radius: 9px;
        border-end-end-radius: 9px;
      }
    }
    .hero10-img:nth-of-type(3) {
      position: absolute;
      width: 66%;
      bottom: 0;
      inset-inline-start: 0;
      aspect-ratio: 346/148;
      border-radius: 21px;
      overflow: hidden;
      @include xs {
        border-radius: 13px;
      }
    }

    .play-sq {
      position: absolute;
      inset-inline-end: 0;
      bottom: 0;
      width: 29%;
      aspect-ratio: 156/148;
      border-radius: 21px;
      background-color: $setting_secondary_color;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 10.58px 28.22px 0px #00000014;

      @include xs {
        border-radius: 14px;
      }
      .play-svg {
        transform: translate(3px, 4px);
        width: 52px;
        height: 52px;
        @include xs {
          width: 34px;
          height: 34px;
        }
        path {
          fill: #fff;
        }
      }
    }
  }
}
