.hero {
  padding: 70px 0;
  position: relative;

  background-color: rgba(#f0f0f0, $alpha: 0.5);
  @include sm {
    padding: 30px 0;
  }
}
.container {
  max-width: 1240px;
}

.hero-cont {
  display: grid;
  grid-template-columns: 500px 1fr;
  gap: 40px;
  position: relative;
  @include md {
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  @include sm {
  }
  @include xs {
    grid-template-columns: 1fr;
  }
}
.hero-info-cont {
  position: relative;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: end;

  .hero-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    @include sm {
    }
  }

  .title {
    font-size: 58px;
    font-weight: $weight_bold;
    color: $setting_primary_color;
    text-align: start;
    margin-bottom: 0;
    @include md {
      font-size: 48px;
    }
    @include sm {
      font-size: 42px;
    }
    @include xs {
      font-size: 33px;
    }
  }
  .start {
    font-size: 64px;
    font-weight: $weight_bold;

    color: $setting_text_color;
    text-align: center;
    margin-bottom: 0;
    position: relative;
    padding-bottom: 10px;
    @include md {
      font-size: 48px;
    }
    @include sm {
      font-size: 42px;
    }
    @include xs {
      font-size: 28px;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      inset-inline-start: 0;
      height: 4px;
      width: 80px;
      background-color: $setting_primary_color;
    }
  }
  .desc {
    font-size: 20px;
    font-weight: $weight_bold;
    color: lighten($setting_text_color, $amount: 20);
    max-width: 400px;
    text-align: start;
    margin-top: 24px;
    // overflow: hidden;
    // display: -webkit-box;
    // -webkit-line-clamp: 3;
    // -webkit-box-orient: vertical;
    // height: 65px;
    @include xs {
      font-size: 18px;
      font-weight: $weight_light;
    }
  }
  .hero-btns {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    width: 100%;
    margin-top: 34px;

    @include sm {
      gap: 10px;
      margin-top: 24px;
    }
    .about-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      height: 58px;
      border-radius: 50px;
      width: 100%;
      background-color: #fff;
      border: 2px solid $setting_primary_color;
      font-size: 16px;
      font-weight: $weight_medium;
      color: $setting_primary_color;
      transition: all 0.4s ease-in-out;
      box-shadow: 0 0px 100px rgba(0, 0, 0, 0.2);
      @include sm {
        font-size: 14px;
        height: 48px;
      }
      @include xs {
        padding: 0 10px;
      }

      &:hover {
        background-color: $setting_primary_color;
        color: #fff;
      }
      .las {
        font-size: 24px;
        @include sm {
          font-size: 20px;
        }
      }
    }
    .contact-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 58px;
      border-radius: 50px;
      width: 100%;
      gap: 8px;
      font-size: 16px;
      font-weight: $weight_medium;

      transition: all 0.4s ease-in-out;
      background-color: $setting_primary_color;
      border: 2px solid $setting_primary_color;
      color: #fff;
      box-shadow: 0 0px 100px rgba(0, 0, 0, 0.2);
      @include sm {
        font-size: 14px;
        height: 48px;
      }

      &:hover {
        background-color: darken($color: $setting_primary_color, $amount: 10%);
      }
      .lab {
        font-size: 24px;
        @include sm {
          font-size: 20px;
        }
      }
    }
  }
}
.hero-imgs {
  position: relative;
  .hero-img {
    width: 70%;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    border: 6px solid #fff;
    @include xs {
      width: 68%;
    }
  }
  .hero-img-2 {
    position: absolute;
    bottom: 40px;
    inset-inline-end: -20px;
    width: 32%;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    border: 6px solid #fff;
    animation: float 10s ease-in-out infinite;
    @include xs {
      animation: floatDown 10s ease-in-out infinite;
      bottom: 15px;
      inset-inline-end: -10px;
    }
  }
  .hero-img-3 {
    position: absolute;
    top: -40px;
    inset-inline-end: 0;
    width: 32%;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    border: 6px solid #fff;
    animation: float 10s ease-in-out infinite;
    @include xs {
      animation: floatDown 10s ease-in-out infinite;
      top: 0;
    }
  }
}
@keyframes float {
  0% {
    transform: translateY(-15px);
  }

  50% {
    transform: translateY(15px);
  }

  100% {
    transform: translateY(-15px);
  }
}
@keyframes floatDown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(15px);
  }

  100% {
    transform: translateY(0);
  }
}
