@media (max-width: 767px) {
  :root {
    --border-radius: var(--mobile-radius);
  }
}
/* General Resets */
body {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
button,
a,
select,
textarea {
  font-family: inherit;
}

input:focus,
button:focus,
a:focus,
select:focus,
textarea:focus {
  outline: 0;
}

input::-moz-placeholder {
  color: inherit;
}

input::placeholder {
  color: inherit;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  outline: 0;
  font-family: inherit;
}

a,
img,
button,
input,
select {
  transition: all 0.3s ease;
}

[role=button] {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

input {
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input::-webkit-search-decoration, input::-webkit-search-cancel-button, input::-webkit-search-results-button, input::-webkit-search-results-decoration {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.fa-snapchat::before {
  content: "\f2ac";
}

.fa-facebook::before {
  content: "\f39e";
}

.fa-linkedin::before {
  content: "\f0e1";
}

.la-snapchat::before {
  content: "\f2ac";
}

.la-facebook::before {
  content: "\f39e";
}

.la-linkedin::before {
  content: "\f0e1";
}

body {
  font-family: "Vazirmatn", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: #080808;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #1263dc #f2f2f2;
}

body::-webkit-scrollbar {
  background-color: #f2f2f2;
  width: 8px;
  height: 4px;
}
body::-webkit-scrollbar-thumb {
  background-color: #1263dc;
  border-radius: 4px;
}

.overflow {
  overflow: hidden;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 1180px;
}

.container-fluid {
  padding: 0 30px;
  width: 100%;
}
@media (max-width: 1199px) {
  .container-fluid {
    padding: 0 20px;
  }
}

.select-content {
  position: relative;
}
.select-content::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  inset-inline-end: 28px;
  font-size: 14px;
  color: #080808;
  font-family: "Line Awesome Free";
  font-weight: 900;
  content: "\f107";
}

.img-contain {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.img-cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.en {
  display: inline-block;
  direction: ltr;
}

iframe {
  width: 100%;
  height: 100%;
}

.banner {
  position: relative;
  overflow: hidden;
  background-color: rgb(239.2857142857, 245.0714285714, 253.7142857143);
  padding: 113px 0;
}
@media (max-width: 991px) {
  .banner {
    padding: 60px 0;
  }
}
.banner::before {
  content: "";
  position: absolute;
  top: 0;
  inset-inline-start: -26%;
  height: 100%;
  aspect-ratio: 1;
  background-color: #fff;
  border-radius: 50%;
}
@media (max-width: 767px) {
  .banner::before {
    display: none;
  }
}
.banner .container {
  max-width: 1300px;
}
.banner .banner-cont {
  position: relative;
  display: grid;
  grid-template-columns: 467px 1fr;
  -moz-column-gap: 88px;
       column-gap: 88px;
}
@media (max-width: 1199px) {
  .banner .banner-cont {
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
}
@media (max-width: 767px) {
  .banner .banner-cont {
    grid-template-columns: 1fr;
    row-gap: 40px;
  }
}
.banner .banner-cont .banner-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 32px;
  position: relative;
  z-index: 3;
}
@media (max-width: 991px) {
  .banner .banner-cont .banner-info {
    gap: 20px;
  }
}
.banner .banner-cont .banner-info .title {
  margin: 0;
  font-size: 56px;
  font-weight: 700;
  color: rgb(6.4285714286, 35.3571428571, 78.5714285714);
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: 304px;
}
@media (max-width: 1199px) {
  .banner .banner-cont .banner-info .title {
    font-size: 40px;
    max-height: 224px;
  }
}
@media (max-width: 991px) {
  .banner .banner-cont .banner-info .title {
    font-size: 32px;
    max-height: 137px;
    -webkit-line-clamp: 3;
  }
}
.banner .banner-cont .banner-info .banner-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 49px;
  width: 100%;
  border-radius: 16px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  background-color: #1263dc;
  transition: all 0.4s ease-in-out;
}
@media (max-width: 1199px) {
  .banner .banner-cont .banner-info .banner-btn {
    max-width: calc(100% - 40px);
  }
}
@media (max-width: 991px) {
  .banner .banner-cont .banner-info .banner-btn {
    height: 42px;
    max-width: calc(100% - 20px);
    border-radius: 12px;
  }
}
@media (max-width: 767px) {
  .banner .banner-cont .banner-info .banner-btn {
    max-width: 100%;
  }
}
.banner .banner-cont .banner-info .banner-btn:hover {
  background-color: #fa8f21;
}
.banner .banner-cont .banner-imgs {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.banner .banner-cont .banner-imgs .imgs-l-svg {
  position: absolute;
  bottom: 20px;
  inset-inline-end: 0px;
  width: 19%;
  height: 38%;
}
html[dir=ltr] .banner .banner-cont .banner-imgs .imgs-l-svg {
  transform: rotate(32deg) scale(-1);
}
.banner .banner-cont .banner-imgs .imgs-l-svg .svg-color {
  color: #fa8f21;
}
.banner .banner-cont .banner-imgs .imgs-r-svg {
  position: absolute;
  top: 20px;
  inset-inline-start: 0px;
  width: 19%;
  height: 38%;
}
html[dir=ltr] .banner .banner-cont .banner-imgs .imgs-r-svg {
  transform: rotate(32deg) scale(-1);
}
.banner .banner-cont .banner-imgs .imgs-r-svg .svg-color {
  color: #1263dc;
}
.banner .banner-cont .banner-imgs .banner-img {
  aspect-ratio: 418/533;
  overflow: hidden;
  position: relative;
  z-index: 2;
  clip-path: polygon(0 0, 64% 0, 100% 100%, 36% 100%);
}
.banner .banner-cont .banner-imgs .banner-img:nth-of-type(2) {
  margin-inline-start: -20%;
}
html[dir=ltr] .banner .banner-cont .banner-imgs .banner-img {
  clip-path: polygon(36% 0%, 100% 0%, 64% 100%, 0% 100%);
}/*# sourceMappingURL=main.css.map */