.home {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;

  .backgrounds {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    .back-img {
      width: 100%;
      height: 100%;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        270deg,
        rgba(6, 35, 77, 0.6) 0%,
        rgba(14, 81, 179, 0) 100%
      );

      z-index: 0;
    }
    img {
      display: flex;
    }
  }
}
.tabs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 160px 0;
  @include sm {
    grid-template-columns: 1fr;
    padding: 40px 0;
    gap: 30px;
  }
  .distinations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;

    @include sm {
      // width: 100%;
      margin: 0 auto;
    }
    h2 {
      color: #ffffff;
      font-size: 48px;
      font-weight: $weight-bold;
      margin-bottom: 32px;
      @include sm {
        text-align: center;
      }
      @include xs {
        font-size: 28px;
        margin-bottom: 16px;
      }
    }
    .tablist-box {
      padding: 32px;
      background: rgba(14, 79, 176, 0.3);
      backdrop-filter: blur(4px);
      border-radius: 48px;
      border: 1px solid #0e4fb04d;
      overflow: hidden;
      @include xs {
        padding: 20px;
        border-radius: 20px;
      }
      [role="tablist"] {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 16px;
        @include xs {
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 10px;
        }
        button {
          padding: 10px 30px;
          border: 1px solid #ffffff;
          border-radius: 8px;
          color: #ffffff;
          font-size: 20px;
          font-weight: $weight-bold;
          position: relative;

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            border: 4px solid transparent;
          }
          &[aria-selected="true"] {
            background-color: #ffffff;
            color: $setting_primary_color;
            position: relative;
            border: none;

            &::after {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              height: 100%;
              width: 100%;
              border: 4px solid $setting_primary_color;
              z-index: 3;
              border-radius: 8px;
            }
          }
        }
      }
      .destinations-btn {
        width: 100%;
        margin-top: 32px;
        border: 1px solid #ffffff;
        border-radius: 8px;
        color: #ffffff;
        font-size: 20px;
        font-weight: $weight-bold;
        background: #06234d80;
        padding: 10px 0;
        @include xs {
          margin-top: 20px;
        }
        &:hover {
          background-color: $setting_primary_color;
        }
      }
    }
  }
  .destinations-info {
    padding: 80px 0;
    border: 6px solid #ffffff;
    color: #ffffff;
    border-radius: 50%;
    max-width: 457px;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
    // margin-left: -75px;
    transition: all 0.3s ease;
    background: radial-gradient(
      50% 50% at 50% 50%,
      #ffffff 0%,
      rgba(255, 255, 255, 0.6) 100%
    );
    margin-inline-start: auto;
    cursor: pointer;
    @include xs {
      padding: 40px 0;
    }

    .info {
      transition: all 0.3s ease;
    }
    @include sm {
      margin: 0 auto;
    }

    &:hover {
      border-color: $setting_primary_color;
      .info {
        transform: translateX(-5px);
      }
    }

    .line {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 16px;
      @include xs {
        margin-bottom: 10px;
      }
      i {
        border: 2px solid $setting_primary_color;
        border-radius: 50%;
        font-size: 20px;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: darken($color: $setting_primary_color, $amount: 10%);
        @include xs {
          width: 25px;
          height: 25px;
          font-size: 16px;
        }
      }
      p {
        margin: 0;
        font-size: 24px;
        font-weight: $weight-bold;
        color: #06234d;
        @include xs {
          font-size: 20px;
        }
      }
    }
    h4 {
      font-size: 43px;
      font-weight: $weight-bold;
      color: $setting_primary_color;
      margin-bottom: 16px;
      @include xs {
        font-size: 28px;
        margin-bottom: 10px;
      }
    }
    button {
      width: 100%;
      color: #ffffff;
      background-color: $setting_primary_color;
      font-size: 16px;
      font-weight: $weight-bold;
      border-radius: 16px;
      height: 48px;
      @include xs {
        height: 40px;
      }
      &:hover {
        background-color: darken($color: $setting_primary_color, $amount: 10%);
      }
    }
  }
}
