@media (max-width: 767px) {
  :root {
    --border-radius: var(--mobile-radius);
  }
}
/* General Resets */
body {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
button,
a,
select,
textarea {
  font-family: inherit;
}

input:focus,
button:focus,
a:focus,
select:focus,
textarea:focus {
  outline: 0;
}

input::-moz-placeholder {
  color: inherit;
}

input::placeholder {
  color: inherit;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  outline: 0;
  font-family: inherit;
}

a,
img,
button,
input,
select {
  transition: all 0.3s ease;
}

[role=button] {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

input {
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input::-webkit-search-decoration, input::-webkit-search-cancel-button, input::-webkit-search-results-button, input::-webkit-search-results-decoration {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.fa-snapchat::before {
  content: "\f2ac";
}

.fa-facebook::before {
  content: "\f39e";
}

.fa-linkedin::before {
  content: "\f0e1";
}

.la-snapchat::before {
  content: "\f2ac";
}

.la-facebook::before {
  content: "\f39e";
}

.la-linkedin::before {
  content: "\f0e1";
}

body {
  font-family: "Vazirmatn", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: #030303;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #1263dc #f2f2f2;
}

body::-webkit-scrollbar {
  background-color: #f2f2f2;
  width: 8px;
  height: 4px;
}
body::-webkit-scrollbar-thumb {
  background-color: #1263dc;
  border-radius: 4px;
}

.overflow {
  overflow: hidden;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 1180px;
}

.container-fluid {
  padding: 0 30px;
  width: 100%;
}
@media (max-width: 1199px) {
  .container-fluid {
    padding: 0 20px;
  }
}

.select-content {
  position: relative;
}
.select-content::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  inset-inline-end: 28px;
  font-size: 14px;
  color: #030303;
  font-family: "Line Awesome Free";
  font-weight: 900;
  content: "\f107";
}

.img-contain {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.img-cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.en {
  display: inline-block;
  direction: ltr;
}

iframe {
  width: 100%;
  height: 100%;
}

.hero10 {
  height: 100vh;
  min-height: 600px;
}
@media (max-width: 991px) {
  .hero10 {
    min-height: 500px;
  }
}
.hero10 .container {
  max-width: 1300px;
}

.hero10-cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  position: relative;
}
@media (max-width: 1199px) {
  .hero10-cont {
    gap: 20px;
  }
}
@media (max-width: 991px) {
  .hero10-cont {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 767px) {
  .hero10-cont {
    gap: 0;
  }
}

.hero10-info {
  position: relative;
}
.hero10-info::after {
  position: absolute;
  content: "";
  inset-inline-end: 0;
  top: 0;
  height: 100%;
  width: 100vw;
  background-color: #1263dc;
  border-start-end-radius: 162px;
  z-index: -1;
}
@media (max-width: 991px) {
  .hero10-info::after {
    inset-inline-end: -20px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    border-start-end-radius: unset;
    width: calc(100% + 40px);
  }
}
.hero10-info .hero-info-cont {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 24px;
  height: 100%;
  max-width: 555px;
  position: relative;
  z-index: 2;
  padding: 53px 0 33px 0;
  overflow: hidden;
}
@media (max-width: 991px) {
  .hero10-info .hero-info-cont {
    max-width: unset;
  }
}
.hero10-info .hero10-title {
  font-size: 48px;
  font-weight: 700;
  color: #fff;
  text-align: start;
  margin-bottom: 0;
}
@media (max-width: 1199px) {
  .hero10-info .hero10-title {
    font-size: 32px;
  }
}
@media (max-width: 991px) {
  .hero10-info .hero10-title {
    font-size: 48px;
  }
}
@media (max-width: 767px) {
  .hero10-info .hero10-title {
    font-size: 23px;
  }
}
.hero10-info .hero10-desc {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  padding-inline-end: 10px;
}
@media (max-width: 767px) {
  .hero10-info .hero10-desc {
    font-size: 14px;
    font-weight: 300;
  }
}
.hero10-info .hero10-btns {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 24px;
  width: 100%;
}
@media (max-width: 767px) {
  .hero10-info .hero10-btns {
    gap: 18px;
  }
}
.hero10-info .hero10-btns .about-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  border-radius: 8px;
  max-width: 270px;
  padding: 0 10px;
  width: 100%;
  color: #1263dc;
  font-size: 16px;
  font-weight: 700;
  background-color: #fff;
  border: 2px solid #1263dc;
  transition: all 0.4s ease-in-out;
}
@media (max-width: 575px) {
  .hero10-info .hero10-btns .about-btn {
    max-width: 100%;
  }
}
.hero10-info .info-bg {
  position: absolute;
  inset-inline-end: 0;
  top: 0;
  height: 100%;
  width: calc(100% + 20px);
  border-start-end-radius: 162px;
  z-index: -1;
}
@media (min-width: 2000px) {
  .hero10-info .info-bg {
    top: 25%;
  }
}
@media (max-width: 991px) {
  .hero10-info .info-bg {
    inset-inline-end: -20px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    border-start-end-radius: unset;
    width: calc(100% + 40px);
  }
}
@media (max-width: 767px) {
  .hero10-info .info-bg {
    display: none;
  }
}
.hero10-info .info-bg-xs {
  display: none;
}
@media (max-width: 767px) {
  .hero10-info .info-bg-xs {
    display: block;
    position: absolute;
    inset-inline-end: -20px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    width: calc(100% + 40px);
    top: 0;
    height: 100%;
    z-index: -1;
  }
}

.hero10-imgs {
  display: flex;
  align-items: center;
}
.hero10-imgs .hero10-imgs-cont {
  position: relative;
  aspect-ratio: 495/421;
  max-width: 495px;
  margin-inline-start: auto;
  width: 100%;
}
@media (max-width: 991px) {
  .hero10-imgs .hero10-imgs-cont {
    max-width: unset;
    margin-inline-start: unset;
    margin: 40px 0;
  }
}
@media (max-width: 767px) {
  .hero10-imgs .hero10-imgs-cont {
    aspect-ratio: 327/285;
  }
}
.hero10-imgs .hero10-imgs-cont .hero10-img:nth-of-type(1) {
  position: absolute;
  width: 32%;
  bottom: 37%;
  inset-inline-start: 0;
  aspect-ratio: 172/179;
  border-start-start-radius: 112px;
  border-start-end-radius: 112px;
  border-end-start-radius: 14px;
  border-end-end-radius: 14px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .hero10-imgs .hero10-imgs-cont .hero10-img:nth-of-type(1) {
    border-start-start-radius: 74px;
    border-start-end-radius: 74px;
    border-end-start-radius: 9px;
    border-end-end-radius: 9px;
  }
}
.hero10-imgs .hero10-imgs-cont .hero10-img:nth-of-type(2) {
  position: absolute;
  width: 64%;
  bottom: 37%;
  inset-inline-end: 0;
  aspect-ratio: 333/319;
  border-start-start-radius: 264px;
  border-start-end-radius: 264px;
  border-end-start-radius: 14px;
  border-end-end-radius: 14px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .hero10-imgs .hero10-imgs-cont .hero10-img:nth-of-type(2) {
    border-start-start-radius: 174px;
    border-start-end-radius: 174px;
    border-end-start-radius: 9px;
    border-end-end-radius: 9px;
  }
}
.hero10-imgs .hero10-imgs-cont .hero10-img:nth-of-type(3) {
  position: absolute;
  width: 66%;
  bottom: 0;
  inset-inline-start: 0;
  aspect-ratio: 346/148;
  border-radius: 21px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .hero10-imgs .hero10-imgs-cont .hero10-img:nth-of-type(3) {
    border-radius: 13px;
  }
}
.hero10-imgs .hero10-imgs-cont .play-sq {
  position: absolute;
  inset-inline-end: 0;
  bottom: 0;
  width: 29%;
  aspect-ratio: 156/148;
  border-radius: 21px;
  background-color: #f59e0b;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 10.58px 28.22px 0px rgba(0, 0, 0, 0.0784313725);
}
@media (max-width: 767px) {
  .hero10-imgs .hero10-imgs-cont .play-sq {
    border-radius: 14px;
  }
}
.hero10-imgs .hero10-imgs-cont .play-sq .play-svg {
  transform: translate(3px, 4px);
  width: 52px;
  height: 52px;
}
@media (max-width: 767px) {
  .hero10-imgs .hero10-imgs-cont .play-sq .play-svg {
    width: 34px;
    height: 34px;
  }
}
.hero10-imgs .hero10-imgs-cont .play-sq .play-svg path {
  fill: #fff;
}/*# sourceMappingURL=main.css.map */