.packages2 {
  padding: 54px 0;
  overflow: hidden;
  background-color: lighten($color: $setting_primary_color, $amount: 52%);
  position: relative;
  @include sm {
    padding: 40px 0;
  }
  .pattern {
    display: flex;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
  }
}
.packages2-cont {
  position: relative;
  @include md {
    padding-inline-start: 30px;
  }
  @include xs {
    padding-inline-start: 0;
  }
  .package-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
    @include xs {
      justify-content: center;
      margin-bottom: 25px;
    }
    .package-title {
      font-size: 48px;
      font-weight: $weight_bold;
      color: $setting_text_color;
      text-align: center;
      @include sm {
        font-size: 38px;
      }
      @include xs {
      }
    }
  }
}
.packages-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  padding: 0 23px;
  gap: 8px;
  border: 2px solid $setting_primary_color;
  width: fit-content;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
  border-radius: 15px;
  @include xs {
    display: none;
  }
  &.xs {
    display: none;
    @include xs {
      display: flex;
      margin: 30px auto 0;
    }
  }
  .btn-text {
    font-size: 16px;
    font-weight: $weight_bold;
    color: $setting_primary_color;
    transition: all 0.5s ease-in-out;
  }
  .las {
    color: $setting_primary_color;
    font-size: 20px;
    transform: rotate(45deg);
    font-weight: $weight_bold;
    transition: all 0.5s ease-in-out;
    @include ltr {
      transform: rotate(-45deg);
    }
    &::before {
      @include ltr {
        content: "\f061";
      }
    }
  }
  &:hover {
    background-color: $setting_primary_color;
    border-color: lighten($color: $setting_primary_color, $amount: 20%);
    .btn-text {
      color: #fff;
    }
    .las {
      color: #fff;
      transform: rotate(0);
      @include ltr {
        transform: rotate(0);
      }
    }
  }
}
.packages1-flex {
  display: flex;
  gap: 20px;
  flex-direction: column;

  @include sm {
  }
  @include xs {
    gap: 20px;
    padding-inline-start: 0;
  }
}

.Package {
  padding: 25px 33px;
  border: 1px solid lighten($color: $setting_primary_color, $amount: 50%);
  border-radius: 24px;
  box-shadow: 0px 8px 12px 0px #8585850a;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  @include sm {
    padding: 25px 10px;
  }
  @include xs {
    flex-direction: column;
    align-items: start;
    justify-content: center;
    border-radius: 14px;
  }
  &.offer {
    border: 3px solid $setting_primary_color;
    box-shadow: 49px 0 $setting_primary_color;
    background-color: lighten($color: $setting_primary_color, $amount: 52%);

    @include sm {
      box-shadow: 40px 0 $setting_primary_color;
    }
    @include xs {
      box-shadow: 0 -40px $setting_primary_color;
      margin-top: 35px;
    }
    @include ltr {
      box-shadow: -49px 0 $setting_primary_color;
      @include xs {
        box-shadow: 0 -40px $setting_primary_color;
      }
    }
    .offer-cont {
      display: flex;
    }
    .package-name {
      color: $setting_primary_color;
    }
    .current-price {
      color: $setting_primary_color !important;
    }
    .sub-btn {
      color: #fff;
      background-color: $setting_primary_color;
    }
  }

  .offer-cont {
    position: absolute;
    inset-inline-start: -25px;
    height: fit-content;
    display: none;
    gap: 14px;
    justify-content: center;
    align-items: center;
    transform: translateX(50%) rotate(270deg);
    @include sm {
      inset-inline-start: -20px;
    }
    @include xs {
      transform: translateX(0) rotate(0);
      top: -30px;
      width: 100%;
    }
    @include ltr {
      transform: translateX(-50%) rotate(90deg);
      @include xs {
        transform: translateX(0) rotate(0);
      }
      .text {
        font-size: 12px;
        @include xs {
          font-size: 16px;
        }
      }
      .num {
        font-size: 14px;
      }
    }

    .text {
      color: #fff;
      font-weight: $weight_bold;
      font-size: 14px;
      @include sm {
        font-size: 12px;
      }
      @include xs {
        font-size: 16px;
      }
    }
    .num {
      background-color: $setting_secondary_color;
      border-radius: 4px;
      padding: 0 5px;
      height: 23px;
      display: flex;
      align-items: center;
      font-size: 16px;
      font-weight: $weight_bold;
      color: #fff;
      border: 1px solid #fff;
      padding-top: 3px;
      @include sm {
        font-size: 12px;
      }
      @include xs {
        font-size: 14px;
      }
    }
  }
  .package-name {
    font-size: 48px;
    font-weight: $weight_bold;
    margin-bottom: 9px;
    color: $setting_text_color;
    @include sm {
      font-size: 30px;
    }
  }

  .package-price {
    display: flex;
    align-items: center;
    gap: 4px;

    .current-price {
      font-size: 40px;
      font-weight: $weight_bold;
      color: darken($color: $setting_primary_color, $amount: 35%);
      @include sm {
        font-size: 28px;
      }
    }

    .old-price {
      font-size: 32px;
      color: #454545;
      letter-spacing: 0;
      font-weight: $weight_bold;
      opacity: 0.4;
      @include sm {
        font-size: 22px;
      }
    }
    .del {
      opacity: 0.4;
    }
  }
  .package-adv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    max-height: 96px;
    row-gap: 12px;
    column-gap: 64px;
    @include sm {
      column-gap: 20px;
    }
    @include xs {
      max-height: unset;
      flex-wrap: nowrap;
      margin-top: 14px;
    }
    .adv-line {
      display: flex;
      align-items: center;
      gap: 4px;
      i {
        color: #22c55d;
        font-size: 16px;
      }
      .adv-p {
        margin: 0;
        font-size: 16px;
        color: #3e3e3e;
        @include sm {
          font-size: 14px;
        }
      }
    }
  }
  .sub-btn {
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 38px;
    border-radius: 8px;
    font-weight: $weight_semibold;
    transition: all 0.5s ease;
    font-size: 16px;
    background-color: #fff;
    color: $setting_primary_color;
    border: 1px solid $setting_primary_color;
    @include sm {
      height: 64px;
      padding: 0 20px;
    }
    @include xs {
      width: 100%;
      height: 48px;
      margin-top: 20px;
    }
    &:hover {
      color: #fff;
      background-color: $setting_primary_color;
    }
  }
}
