.hero20 {
  position: relative;
  overflow: hidden;
  background-color: lighten($setting_primary_color, 50%);
  padding: 70px 0;
  @include sm {
    padding: 35px 0;
  }
  @include xs {
  }
  @include ltr {
    @include xs {
    }
  }
}
.swiper-wrapper {
  display: flex;
  align-items: center;
}

.hero-cont {
  display: grid;
  grid-template-columns: 422px 1fr;
  gap: 200px;
  position: relative;
  @include md {
    gap: 100px;
  }

  @include sm {
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
  @include xs {
    grid-template-columns: 1fr;
  }
  .hero-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    position: relative;
    z-index: 2;

    @include sm {
    }
    .hero-title {
      font-size: 48px;
      font-weight: $weight_bold;
      color: darken($setting_primary_color, 40%);
      text-align: start;
      margin-bottom: 16px;
      @include md {
        font-size: 42px;
      }
      @include sm {
        font-size: 32px;
        text-align: center;
      }
      @include xs {
        font-size: 23px;
      }
    }
    .hero-desc {
      font-size: 16px;
      font-weight: $weight_medium;
      color: darken($setting_primary_color, 40%);
      max-width: 390px;
      margin-bottom: 24px;
      // overflow: hidden;
      // display: -webkit-box;
      // -webkit-line-clamp: 3;
      // -webkit-box-orient: vertical;
      // height: 65px;
      @include sm {
        font-size: 14px;
        font-weight: $weight_light;
        margin-bottom: 16px;
        text-align: center;
      }
      @include xs {
        max-width: 100%;
      }
    }

    .hero9-btns {
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 24px;
      width: 100%;
      @include xs {
        gap: 18px;
      }
      .about-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 48px;
        border-radius: 8px;
        max-width: 202px;
        width: 100%;
        color: #fff;
        font-size: 16px;
        font-weight: $weight_medium;
        background-color: $setting_primary_color;
        border: 2px solid $setting_primary_color;
        transition: all 0.4s ease-in-out;

        &:hover {
          background-color: darken(
            $color: $setting_primary_color,
            $amount: 10%
          );
        }
      }
      .contact-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 48px;
        border-radius: 8px;
        max-width: 202px;
        width: 100%;
        color: $setting_primary_color;
        font-size: 16px;
        font-weight: $weight_medium;
        background-color: #fff;
        border: 2px solid $setting_primary_color;
        transition: all 0.4s ease-in-out;

        &:hover {
          background-color: $setting_primary_color;
          color: #fff;
        }
      }
    }
  }
  .slide-svg {
    position: absolute;
    inset-inline-start: 432px;
    top: 50%;
    // transform: translateY(-50%);
    color: $setting_secondary_color;
    @include md {
      display: none;
    }
    @include ltr {
      transform: scaleX(-1);
    }
  }
}
.hero-img-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  .hero-img {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 202px;
    aspect-ratio: 202/396;
    position: relative;
    box-shadow: 0px 16px 44px 0px rgba(0, 0, 0, 0.12);
    border-radius: 14px;
    overflow: hidden;
    @include sm {
      max-width: 300px;
      aspect-ratio: 202/260;
      box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.12);
    }
    .img-cover {
      display: flex;
    }
  }
}

.hero-pagination {
  margin-top: 35px;
  display: grid;
  grid-template-columns: 422px 1fr;
  gap: 200px;
  @include md {
    gap: 100px;
  }
  @include sm {
    grid-template-columns: 1fr;
    .empty-space {
      display: none;
    }
  }
  .swiper-pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 38px;
    height: fit-content;
    width: fit-content;
    position: relative;
    margin: 0 auto;
    z-index: 1;
    @include sm {
    }
    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 50%;
      height: 1px;
      width: 100%;
      background-color: lighten($setting_primary_color, 40%);
      z-index: -1;
      @include sm {
        // display: none;
      }
    }
    @include sm {
    }

    .swiper-pagination-bullet {
      background-color: transparent;
      opacity: 1;
      width: 54px;
      height: 54px;
      border-radius: 50%;
      display: flex;
      aspect-ratio: 1;
      align-items: center;
      justify-content: center;
      border: 0.54px solid lighten($setting_primary_color, 45%);
      color: $setting_text_color;
      font-size: 16px;
      font-weight: $weight_regular;
      padding: 2px 0 0 2px;
      background-color: #fff;
      transition: all 0.3s ease-in-out;
      margin: 0;
    }
    .swiper-pagination-bullet-active {
      background-color: $setting_primary_color;
      color: #fff;
      font-size: 24px;
      font-weight: $weight_bold;
    }
  }
}
.swiper-slide-active {
  z-index: 100;
}
.swiper-slide-next,
.swiper-slide:has(+ .swiper-slide-prev) {
  @media (min-width: 992px) {
    opacity: 1 !important;
    z-index: 0;
    .hero-info {
      opacity: 0 !important;
    }
    .hero-img-cont {
      .hero-img {
        transform: rotate(30deg) scale(0.8) translateY(-13%);
        transform-origin: bottom;
        opacity: 0.5 !important;
      }
    }
  }
}
.swiper-slide-next + .swiper-slide,
.swiper-slide-prev {
  @media (min-width: 992px) {
    opacity: 1 !important;
    z-index: 0;
    .hero-info {
      opacity: 0 !important;
    }
    .hero-img-cont {
      .hero-img {
        transform: rotate(-30deg) scale(0.8) translateY(-13%);
        transform-origin: bottom;
        opacity: 0.5 !important;
      }
    }
  }
}
