.services-tabs {
  padding: 139px 0 35px;
  @include sm {
    padding: 50px 0 20px;
  }
  .services-tabs-cont {
    padding: 30px 35px 40px;
    background-color: #ffffff;
    border-radius: 24px;
    border: 1px solid lighten($color: $setting_primary_color, $amount: 50%);
    @include sm {
      padding: 0;
      border: none;
    }
  }
}
.tabs {
  display: flex;
  flex-direction: column;
  gap: 40px;
  @include xs {
    gap: 20px;
  }
  .tablistandimages {
    display: grid;
    grid-template-columns: 125px 1fr;
    gap: 15px;
    border-start-end-radius: 16px;
    border-end-end-radius: 16px;
    overflow: hidden;
    @include xs {
      grid-template-columns: 1fr;
      border-start-end-radius: unset;
      border-end-end-radius: unset;
      overflow: unset;
      gap: 10px;
    }
    [role="tablist"] {
      display: flex;
      flex-direction: column;
      gap: 14px;
      @include xs {
        flex-direction: row;
        gap: 6px;
        order: 2;
      }

      [role="tab"] {
        border-radius: 8px;
        aspect-ratio: 115/100;
        width: 100%;
        position: relative;
        overflow: hidden;
        padding: 0;
        @include xs {
          aspect-ratio: 115/80;
        }

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          border: 4px solid transparent;
          background: rgba($color: $setting_primary_color, $alpha: 0.64);
          border-radius: 8px;
          @include xs {
            border-width: 3px;
          }
        }
        &[aria-selected="true"] {
          &::before {
            background-color: transparent;
            border-color: $setting_primary_color;
          }
        }
        .img-cover {
          display: flex;
          border-radius: 8px;
        }
      }
    }
    .back-img {
      height: 100%;
      aspect-ratio: 939/358;
      border-radius: 16px;
      overflow: hidden;
      @include xs {
        order: 1;
        aspect-ratio: 1.4;
        border-radius: 10px;
      }
    }
  }
  .info {
    .title {
      font-size: 32px;
      font-weight: $weight_bold;
      color: $setting_text_color;
      margin-bottom: 32px;
      @include sm {
        font-size: 24px;
      }
      @include xs {
        font-size: 20px;
        margin-bottom: 20px;
      }
    }
    .desc {
      font-size: 16px;
      font-weight: $weight_light;
      color: lighten($color: $setting_text_color, $amount: 10%);
      margin-bottom: 24px;
      @include sm {
        font-size: 14px;
      }
      @include xs {
        font-size: 13px;
        margin-bottom: 16px;
      }
    }

    .discover {
      display: flex;
      align-items: start;
      justify-content: start;
      row-gap: 12px;
      column-gap: 20px;
      flex-wrap: wrap;
      @include sm {
        flex-direction: column;
      }
      .discover-line {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 4px;
        width: calc(50% - 10px);
        @include sm {
          width: unset;
        }
        .check-icon {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 20px;
          height: 20px;
          border: 2px solid #22c55e;
          border-radius: 50%;
          margin: 0;
          flex-shrink: 0;
          @include xxs {
            width: 15px;
            height: 15px;
            border-width: 1px;
          }
          .las {
            font-size: 12px;
            font-weight: $weight-extrabold;
            color: #22c55e;
            @include xxs {
              font-size: 10px;
            }
          }
        }
        .discover-p {
          font-size: 16px;
          font-weight: $weight_light;
          color: lighten($color: $setting_text_color, $amount: 10%);
          @include md {
            font-size: 14px;
          }
          @include sm {
            text-align: center;
            font-size: 14px;
          }
          @include xxs {
            font-size: 10px;
          }
        }
      }
    }
  }
}
