@media (max-width: 767px) {
  :root {
    --border-radius: var(--mobile-radius);
  }
}
/* General Resets */
body {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
button,
a,
select,
textarea {
  font-family: inherit;
}

input:focus,
button:focus,
a:focus,
select:focus,
textarea:focus {
  outline: 0;
}

input::-moz-placeholder {
  color: inherit;
}

input::placeholder {
  color: inherit;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  outline: 0;
  font-family: inherit;
}

a,
img,
button,
input,
select {
  transition: all 0.3s ease;
}

[role=button] {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

input {
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input::-webkit-search-decoration, input::-webkit-search-cancel-button, input::-webkit-search-results-button, input::-webkit-search-results-decoration {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.fa-snapchat::before {
  content: "\f2ac";
}

.fa-facebook::before {
  content: "\f39e";
}

.fa-linkedin::before {
  content: "\f0e1";
}

.la-snapchat::before {
  content: "\f2ac";
}

.la-facebook::before {
  content: "\f39e";
}

.la-linkedin::before {
  content: "\f0e1";
}

body {
  font-family: "Vazirmatn", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: #080808;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #1263dc #f2f2f2;
}

body::-webkit-scrollbar {
  background-color: #f2f2f2;
  width: 8px;
  height: 4px;
}
body::-webkit-scrollbar-thumb {
  background-color: #1263dc;
  border-radius: 4px;
}

.overflow {
  overflow: hidden;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 1180px;
}

.container-fluid {
  padding: 0 30px;
  width: 100%;
}
@media (max-width: 1199px) {
  .container-fluid {
    padding: 0 20px;
  }
}

.select-content {
  position: relative;
}
.select-content::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  inset-inline-end: 28px;
  font-size: 14px;
  color: #080808;
  font-family: "Line Awesome Free";
  font-weight: 900;
  content: "\f107";
}

.img-contain {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.img-cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.en {
  display: inline-block;
  direction: ltr;
}

iframe {
  width: 100%;
  height: 100%;
}

.packages2 {
  padding: 54px 0;
  overflow: hidden;
  background-color: rgb(248.7142857143, 251.0285714286, 254.4857142857);
  position: relative;
}
@media (max-width: 991px) {
  .packages2 {
    padding: 40px 0;
  }
}
.packages2 .pattern {
  display: flex;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.packages2-cont {
  position: relative;
}
@media (max-width: 1199px) {
  .packages2-cont {
    padding-inline-start: 30px;
  }
}
@media (max-width: 767px) {
  .packages2-cont {
    padding-inline-start: 0;
  }
}
.packages2-cont .package-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}
@media (max-width: 767px) {
  .packages2-cont .package-header {
    justify-content: center;
    margin-bottom: 25px;
  }
}
.packages2-cont .package-header .package-title {
  font-size: 48px;
  font-weight: 700;
  color: #080808;
  text-align: center;
}
@media (max-width: 991px) {
  .packages2-cont .package-header .package-title {
    font-size: 38px;
  }
}
.packages-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  padding: 0 23px;
  gap: 8px;
  border: 2px solid #1263dc;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
  border-radius: 15px;
}
@media (max-width: 767px) {
  .packages-btn {
    display: none;
  }
}
.packages-btn.xs {
  display: none;
}
@media (max-width: 767px) {
  .packages-btn.xs {
    display: flex;
    margin: 30px auto 0;
  }
}
.packages-btn .btn-text {
  font-size: 16px;
  font-weight: 700;
  color: #1263dc;
  transition: all 0.5s ease-in-out;
}
.packages-btn .las {
  color: #1263dc;
  font-size: 20px;
  transform: rotate(45deg);
  font-weight: 700;
  transition: all 0.5s ease-in-out;
}
html[dir=ltr] .packages-btn .las {
  transform: rotate(-45deg);
}
html[dir=ltr] .packages-btn .las::before {
  content: "\f061";
}
.packages-btn:hover {
  background-color: #1263dc;
  border-color: rgb(97.8571428571, 155.7142857143, 242.1428571429);
}
.packages-btn:hover .btn-text {
  color: #fff;
}
.packages-btn:hover .las {
  color: #fff;
  transform: rotate(0);
}
html[dir=ltr] .packages-btn:hover .las {
  transform: rotate(0);
}

.packages1-flex {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
@media (max-width: 767px) {
  .packages1-flex {
    gap: 20px;
    padding-inline-start: 0;
  }
}

.Package {
  padding: 25px 33px;
  border: 1px solid rgb(239.2857142857, 245.0714285714, 253.7142857143);
  border-radius: 24px;
  box-shadow: 0px 8px 12px 0px rgba(133, 133, 133, 0.0392156863);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}
@media (max-width: 991px) {
  .Package {
    padding: 25px 10px;
  }
}
@media (max-width: 767px) {
  .Package {
    flex-direction: column;
    align-items: start;
    justify-content: center;
    border-radius: 14px;
  }
}
.Package.offer {
  border: 3px solid #1263dc;
  box-shadow: 49px 0 #1263dc;
  background-color: rgb(248.7142857143, 251.0285714286, 254.4857142857);
}
@media (max-width: 991px) {
  .Package.offer {
    box-shadow: 40px 0 #1263dc;
  }
}
@media (max-width: 767px) {
  .Package.offer {
    box-shadow: 0 -40px #1263dc;
    margin-top: 35px;
  }
}
html[dir=ltr] .Package.offer {
  box-shadow: -49px 0 #1263dc;
}
@media (max-width: 767px) {
  html[dir=ltr] .Package.offer {
    box-shadow: 0 -40px #1263dc;
  }
}
.Package.offer .offer-cont {
  display: flex;
}
.Package.offer .package-name {
  color: #1263dc;
}
.Package.offer .current-price {
  color: #1263dc !important;
}
.Package.offer .sub-btn {
  color: #fff;
  background-color: #1263dc;
}
.Package .offer-cont {
  position: absolute;
  inset-inline-start: -25px;
  height: -moz-fit-content;
  height: fit-content;
  display: none;
  gap: 14px;
  justify-content: center;
  align-items: center;
  transform: translateX(50%) rotate(270deg);
}
@media (max-width: 991px) {
  .Package .offer-cont {
    inset-inline-start: -20px;
  }
}
@media (max-width: 767px) {
  .Package .offer-cont {
    transform: translateX(0) rotate(0);
    top: -30px;
    width: 100%;
  }
}
html[dir=ltr] .Package .offer-cont {
  transform: translateX(-50%) rotate(90deg);
}
@media (max-width: 767px) {
  html[dir=ltr] .Package .offer-cont {
    transform: translateX(0) rotate(0);
  }
}
html[dir=ltr] .Package .offer-cont .text {
  font-size: 12px;
}
@media (max-width: 767px) {
  html[dir=ltr] .Package .offer-cont .text {
    font-size: 16px;
  }
}
html[dir=ltr] .Package .offer-cont .num {
  font-size: 14px;
}
.Package .offer-cont .text {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
}
@media (max-width: 991px) {
  .Package .offer-cont .text {
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  .Package .offer-cont .text {
    font-size: 16px;
  }
}
.Package .offer-cont .num {
  background-color: #ff0303;
  border-radius: 4px;
  padding: 0 5px;
  height: 23px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding-top: 3px;
}
@media (max-width: 991px) {
  .Package .offer-cont .num {
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  .Package .offer-cont .num {
    font-size: 14px;
  }
}
.Package .package-name {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 9px;
  color: #080808;
}
@media (max-width: 991px) {
  .Package .package-name {
    font-size: 30px;
  }
}
.Package .package-price {
  display: flex;
  align-items: center;
  gap: 4px;
}
.Package .package-price .current-price {
  font-size: 40px;
  font-weight: 700;
  color: rgb(4.5, 24.75, 55);
}
@media (max-width: 991px) {
  .Package .package-price .current-price {
    font-size: 28px;
  }
}
.Package .package-price .old-price {
  font-size: 32px;
  color: #454545;
  letter-spacing: 0;
  font-weight: 700;
  opacity: 0.4;
}
@media (max-width: 991px) {
  .Package .package-price .old-price {
    font-size: 22px;
  }
}
.Package .package-price .del {
  opacity: 0.4;
}
.Package .package-adv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  max-height: 96px;
  row-gap: 12px;
  -moz-column-gap: 64px;
       column-gap: 64px;
}
@media (max-width: 991px) {
  .Package .package-adv {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media (max-width: 767px) {
  .Package .package-adv {
    max-height: unset;
    flex-wrap: nowrap;
    margin-top: 14px;
  }
}
.Package .package-adv .adv-line {
  display: flex;
  align-items: center;
  gap: 4px;
}
.Package .package-adv .adv-line i {
  color: #22c55d;
  font-size: 16px;
}
.Package .package-adv .adv-line .adv-p {
  margin: 0;
  font-size: 16px;
  color: #3e3e3e;
}
@media (max-width: 991px) {
  .Package .package-adv .adv-line .adv-p {
    font-size: 14px;
  }
}
.Package .sub-btn {
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 38px;
  border-radius: 8px;
  font-weight: 600;
  transition: all 0.5s ease;
  font-size: 16px;
  background-color: #fff;
  color: #1263dc;
  border: 1px solid #1263dc;
}
@media (max-width: 991px) {
  .Package .sub-btn {
    height: 64px;
    padding: 0 20px;
  }
}
@media (max-width: 767px) {
  .Package .sub-btn {
    width: 100%;
    height: 48px;
    margin-top: 20px;
  }
}
.Package .sub-btn:hover {
  color: #fff;
  background-color: #1263dc;
}/*# sourceMappingURL=main.css.map */