@media (max-width: 767px) {
  :root {
    --border-radius: var(--mobile-radius);
  }
}
/* General Resets */
body {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
button,
a,
select,
textarea {
  font-family: inherit;
}

input:focus,
button:focus,
a:focus,
select:focus,
textarea:focus {
  outline: 0;
}

input::-moz-placeholder {
  color: inherit;
}

input::placeholder {
  color: inherit;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  outline: 0;
  font-family: inherit;
}

a,
img,
button,
input,
select {
  transition: all 0.3s ease;
}

[role=button] {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

input {
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input::-webkit-search-decoration, input::-webkit-search-cancel-button, input::-webkit-search-results-button, input::-webkit-search-results-decoration {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.fa-snapchat::before {
  content: "\f2ac";
}

.fa-facebook::before {
  content: "\f39e";
}

.fa-linkedin::before {
  content: "\f0e1";
}

.la-snapchat::before {
  content: "\f2ac";
}

.la-facebook::before {
  content: "\f39e";
}

.la-linkedin::before {
  content: "\f0e1";
}

body {
  font-family: "Vazirmatn", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: #080808;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #1263dc #f2f2f2;
}

body::-webkit-scrollbar {
  background-color: #f2f2f2;
  width: 8px;
  height: 4px;
}
body::-webkit-scrollbar-thumb {
  background-color: #1263dc;
  border-radius: 4px;
}

.overflow {
  overflow: hidden;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 1180px;
}

.container-fluid {
  padding: 0 30px;
  width: 100%;
}
@media (max-width: 1199px) {
  .container-fluid {
    padding: 0 20px;
  }
}

.select-content {
  position: relative;
}
.select-content::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  inset-inline-end: 28px;
  font-size: 14px;
  color: #080808;
  font-family: "Line Awesome Free";
  font-weight: 900;
  content: "\f107";
}

.img-contain {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.img-cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.en {
  display: inline-block;
  direction: ltr;
}

iframe {
  width: 100%;
  height: 100%;
}

.blogs {
  padding: 70px 0;
  position: relative;
  background: radial-gradient(47.9% 47.92% at 50% 52.08%, rgb(6.4285714286, 35.3571428571, 78.5714285714) 0%, rgb(2.5714285714, 14.1428571429, 31.4285714286) 100%);
}
@media (max-width: 991px) {
  .blogs {
    padding: 40px 0;
  }
}
@media (max-width: 767px) {
  .blogs {
    padding: 40px 0 20px;
  }
}
.blogs .bg-img {
  position: absolute;
  inset: 0;
  z-index: -1;
}

.blogs-cont {
  position: relative;
}
.blogs-cont .blogs-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-bottom: 48px;
}
@media (max-width: 991px) {
  .blogs-cont .blogs-header {
    margin-bottom: 22px;
  }
}
@media (max-width: 767px) {
  .blogs-cont .blogs-header {
    justify-content: center;
    margin-bottom: 30px;
  }
}
.blogs-cont .blogs-header .badge-plus-title {
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) {
  .blogs-cont .blogs-header .badge-plus-title {
    align-items: center;
  }
}
.blogs-cont .blogs-header .badge {
  padding: 6px 16px;
  border-radius: 99px;
  background: rgba(18, 99, 220, 0.12);
  border: 1px solid rgba(18, 99, 220, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 16px;
}
.blogs-cont .blogs-header .badge .dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #f59e0b;
  flex-shrink: 0;
}
@media (max-width: 991px) {
  .blogs-cont .blogs-header .badge {
    font-size: 12px;
  }
}
.blogs-cont .blogs-header .blogs-title {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  margin: 0;
}
@media (max-width: 1199px) {
  .blogs-cont .blogs-header .blogs-title {
    font-size: 34px;
  }
}
@media (max-width: 991px) {
  .blogs-cont .blogs-header .blogs-title {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .blogs-cont .blogs-header .blogs-title {
    text-align: center;
  }
}

.swiper-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 767px) {
  .swiper-btns {
    display: none;
  }
}
html[dir=ltr] .swiper-btns {
  gap: 0;
}
.swiper-btns .swiper-button-next,
.swiper-btns .swiper-button-prev {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #1263dc;
  position: relative;
}
@media (max-width: 991px) {
  .swiper-btns .swiper-button-next,
  .swiper-btns .swiper-button-prev {
    width: 40px;
    height: 40px;
  }
}
.swiper-btns .swiper-button-next::after,
.swiper-btns .swiper-button-prev::after {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}
@media (max-width: 991px) {
  .swiper-btns .swiper-button-next::after,
  .swiper-btns .swiper-button-prev::after {
    font-size: 12px;
  }
}
html[dir=ltr] .swiper-btns .swiper-button-next::after,
html[dir=ltr] .swiper-btns .swiper-button-prev::after {
  transform: rotate(180deg);
}
.swiper-btns .swiper-button-next.swiper-button-disabled,
.swiper-btns .swiper-button-prev.swiper-button-disabled {
  opacity: 1;
  cursor: not-allowed;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background-color: transparent;
}

.blog-card {
  background: rgba(0.6428571429, 3.5357142857, 7.8571428571, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 24px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease-in-out;
}
@media (max-width: 991px) {
  .blog-card {
    border-radius: 12px;
  }
}
.blog-card:hover {
  border-color: #fff;
}
.blog-card:hover .desc {
  opacity: 1;
}
.blog-card:hover .blog-footer .date {
  opacity: 1;
}
.blog-card:hover .blog-footer .read-more {
  color: #fff;
}
.blog-card .blog-img {
  border-radius: 16px;
  width: 100%;
  aspect-ratio: 326/183;
  overflow: hidden;
  margin-bottom: 16px;
}
@media (max-width: 991px) {
  .blog-card .blog-img {
    border-radius: 8px;
  }
}
.blog-card .type {
  font-size: 12px;
  padding: 4px 12px;
  font-weight: 500;
  border-radius: 24px;
  background: rgba(18, 99, 220, 0.15);
  border: 1px solid rgba(18, 99, 220, 0.2);
  width: -moz-fit-content;
  width: fit-content;
  color: #1263dc;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  gap: 4px;
}
.blog-card .type .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #1263dc;
}
.blog-card .blog-title {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  margin: 0;
  margin-bottom: 8px;
  line-height: 1.6;
}
@media (max-width: 991px) {
  .blog-card .blog-title {
    font-size: 14px;
  }
}
.blog-card .desc {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  margin: 0;
  margin-bottom: 16px;
  line-height: 1.3;
  border-bottom: 1px solid #fff;
  padding-bottom: 16px;
  opacity: 0.7;
  transition: all 0.5s ease-in-out;
}
@media (max-width: 991px) {
  .blog-card .desc {
    font-size: 12px;
    margin-bottom: 12px;
  }
}
.blog-card .blog-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog-card .blog-footer .date {
  font-size: 13px;
  font-weight: 400;
  color: #fff;
  opacity: 0.7;
  transition: all 0.5s ease-in-out;
}
.blog-card .blog-footer .read-more {
  font-size: 14px;
  font-weight: 500;
  color: #1263dc;
  display: flex;
  align-items: center;
  gap: 4px;
  transition: all 0.5s ease-in-out;
}
.blog-card .blog-footer .read-more i {
  font-size: 16px;
  transition: all 0.5s ease-in-out;
}
html[dir=ltr] .blog-card .blog-footer .read-more i {
  transform: rotate(180deg);
}

.swiper-pagination {
  display: none;
}
@media (max-width: 767px) {
  .swiper-pagination {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 40px;
  }
  .swiper-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #fff;
    opacity: 1;
  }
  .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #1263dc;
  }
}/*# sourceMappingURL=main.css.map */