@media (max-width: 767px) {
  :root {
    --border-radius: var(--mobile-radius);
  }
}
/* General Resets */
body {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
button,
a,
select,
textarea {
  font-family: inherit;
}

input:focus,
button:focus,
a:focus,
select:focus,
textarea:focus {
  outline: 0;
}

input::-moz-placeholder {
  color: inherit;
}

input::placeholder {
  color: inherit;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  outline: 0;
  font-family: inherit;
}

a,
img,
button,
input,
select {
  transition: all 0.3s ease;
}

[role=button] {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

input {
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input::-webkit-search-decoration, input::-webkit-search-cancel-button, input::-webkit-search-results-button, input::-webkit-search-results-decoration {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.fa-snapchat::before {
  content: "\f2ac";
}

.fa-facebook::before {
  content: "\f39e";
}

.fa-linkedin::before {
  content: "\f0e1";
}

.la-snapchat::before {
  content: "\f2ac";
}

.la-facebook::before {
  content: "\f39e";
}

.la-linkedin::before {
  content: "\f0e1";
}

body {
  font-family: "Vazirmatn", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: #080808;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #1263dc #f2f2f2;
}

body::-webkit-scrollbar {
  background-color: #f2f2f2;
  width: 8px;
  height: 4px;
}
body::-webkit-scrollbar-thumb {
  background-color: #1263dc;
  border-radius: 4px;
}

.overflow {
  overflow: hidden;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 1180px;
}

.container-fluid {
  padding: 0 30px;
  width: 100%;
}
@media (max-width: 1199px) {
  .container-fluid {
    padding: 0 20px;
  }
}

.select-content {
  position: relative;
}
.select-content::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  inset-inline-end: 28px;
  font-size: 14px;
  color: #080808;
  font-family: "Line Awesome Free";
  font-weight: 900;
  content: "\f107";
}

.img-contain {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.img-cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.en {
  display: inline-block;
  direction: ltr;
}

iframe {
  width: 100%;
  height: 100%;
}

.offers {
  padding: 70px 0;
  position: relative;
  background-color: rgb(2.5714285714, 14.1428571429, 31.4285714286);
}
@media (max-width: 991px) {
  .offers {
    padding: 35px 0;
  }
}
.offers .offers-cont {
  position: relative;
  z-index: 2;
}
.offers .offers-cont .title {
  margin: 0 auto 50px;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  color: #fff;
}
@media (max-width: 991px) {
  .offers .offers-cont .title {
    font-size: 34px;
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .offers .offers-cont .title {
    font-size: 28px;
    margin-bottom: 20px;
  }
}
.offers .offers-cont .offers-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
@media (max-width: 991px) {
  .offers .offers-cont .offers-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .offers .offers-cont .offers-grid {
    grid-template-columns: 1fr;
  }
}
.offers .offers-cont .offers-grid .offers-item {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  box-shadow: 0px 14.28px 35.69px 0px rgba(20, 60, 52, 0.0509803922);
  border: 2px solid rgba(255, 255, 255, 0.08);
  background: rgba(3.7285714286, 20.5071428571, 45.5714285714, 0.5);
}
@media (max-width: 991px) {
  .offers .offers-cont .offers-grid .offers-item {
    border-radius: 10px;
  }
}
.offers .offers-cont .offers-grid .offers-item .offer-cont {
  padding: 28px;
  width: 100%;
}
@media (max-width: 991px) {
  .offers .offers-cont .offers-grid .offers-item .offer-cont {
    padding: 14px;
  }
}
.offers .offers-cont .offers-grid .offers-item .info {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 14px;
  width: 100%;
  transition: all 0.5s ease-in-out;
  padding-bottom: 21px;
  border-bottom: 1px solid rgb(239.2857142857, 245.0714285714, 253.7142857143);
  margin-bottom: 21px;
}
@media (max-width: 991px) {
  .offers .offers-cont .offers-grid .offers-item .info {
    gap: 6px;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
}
.offers .offers-cont .offers-grid .offers-item .info .item-title {
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  margin: 0;
}
@media (max-width: 1199px) {
  .offers .offers-cont .offers-grid .offers-item .info .item-title {
    font-size: 24px;
  }
}
@media (max-width: 991px) {
  .offers .offers-cont .offers-grid .offers-item .info .item-title {
    font-size: 20px;
  }
}
.offers .offers-cont .offers-grid .offers-item .info .features {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.offers .offers-cont .offers-grid .offers-item .info .features .feature {
  display: flex;
  gap: 6px;
  font-size: 15px;
  font-weight: 300;
  color: rgb(215.7142857143, 230.1785714286, 251.7857142857);
}
.offers .offers-cont .offers-grid .offers-item .info .features .feature .las {
  font-size: 14px;
  color: rgb(34, 197, 94);
  font-weight: 700;
  transform: translateY(3px);
}
.offers .offers-cont .offers-grid .offers-item .offer-footer {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  transition: all 0.5s ease-in-out;
}
.offers .offers-cont .offers-grid .offers-item .offer-footer .price-cont {
  display: flex;
  flex-direction: column;
}
.offers .offers-cont .offers-grid .offers-item .offer-footer .price-cont .price {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  margin: 0;
  line-height: 1.3;
  display: flex;
  align-items: center;
  gap: 4px;
}
@media (max-width: 991px) {
  .offers .offers-cont .offers-grid .offers-item .offer-footer .price-cont .price {
    font-size: 30px;
  }
}
.offers .offers-cont .offers-grid .offers-item .offer-footer .price-cont .discount-cont {
  display: flex;
  align-items: center;
  gap: 8px;
}
.offers .offers-cont .offers-grid .offers-item .offer-footer .price-cont .discount-cont .old {
  font-size: 16px;
  font-weight: 500;
  color: rgb(215.7142857143, 230.1785714286, 251.7857142857);
  text-decoration: line-through;
}
@media (max-width: 991px) {
  .offers .offers-cont .offers-grid .offers-item .offer-footer .price-cont .discount-cont .old {
    font-size: 14px;
  }
}
.offers .offers-cont .offers-grid .offers-item .offer-footer .price-cont .discount-cont .discount {
  font-size: 20px;
  font-weight: 700;
  color: rgb(244, 1, 38);
}
@media (max-width: 991px) {
  .offers .offers-cont .offers-grid .offers-item .offer-footer .price-cont .discount-cont .discount {
    font-size: 16px;
  }
}
.offers .offers-cont .offers-grid .offers-item .offer-footer .order-btn {
  font-size: 16px;
  font-weight: 700;
  color: #1263dc;
  background-color: #fff;
  border-radius: 8px;
  padding: 18px 24px;
  border: 1px solid #1263dc;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}
@media (max-width: 991px) {
  .offers .offers-cont .offers-grid .offers-item .offer-footer .order-btn {
    padding: 10px 16px;
    font-size: 14px;
    border-radius: 6px;
  }
}
.offers .offers-cont .offers-grid .offers-item .item-img {
  width: 100%;
  aspect-ratio: 556/249;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  z-index: 0;
}
.offers .offers-cont .offers-grid .offers-item .item-img .img-cover {
  transition: all 0.5s ease-in-out;
}
.offers .offers-cont .offers-grid .offers-item .label {
  position: absolute;
  top: 21px;
  inset-inline-end: 21px;
  background-color: rgb(234.5324675325, 251.4675324675, 240.7662337662);
  border: 1px solid #22c55e;
  padding: 5px 12px;
  font-size: 11px;
  font-weight: 700;
  color: #22c55e;
  border-radius: 89px;
}
@media (max-width: 991px) {
  .offers .offers-cont .offers-grid .offers-item .label {
    top: 12px;
    inset-inline-end: 12px;
  }
}
.offers .offers-cont .offers-grid .offers-item:hover {
  border-color: #1263dc;
}
.offers .offers-cont .offers-grid .offers-item:hover .info {
  transform: translateY(5px);
}
.offers .offers-cont .offers-grid .offers-item:hover .offer-footer {
  transform: translateY(5px);
}
.offers .offers-cont .offers-grid .offers-item:hover .offer-footer .order-btn {
  background-color: #1263dc;
  color: #fff;
}/*# sourceMappingURL=main.css.map */