@media (max-width: 767px) {
  :root {
    --border-radius: var(--mobile-radius);
  }
}
/* General Resets */
body {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
button,
a,
select,
textarea {
  font-family: inherit;
}

input:focus,
button:focus,
a:focus,
select:focus,
textarea:focus {
  outline: 0;
}

input::-moz-placeholder {
  color: inherit;
}

input::placeholder {
  color: inherit;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  outline: 0;
  font-family: inherit;
}

a,
img,
button,
input,
select {
  transition: all 0.3s ease;
}

[role=button] {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

input {
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input::-webkit-search-decoration, input::-webkit-search-cancel-button, input::-webkit-search-results-button, input::-webkit-search-results-decoration {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.fa-snapchat::before {
  content: "\f2ac";
}

.fa-facebook::before {
  content: "\f39e";
}

.fa-linkedin::before {
  content: "\f0e1";
}

.la-snapchat::before {
  content: "\f2ac";
}

.la-facebook::before {
  content: "\f39e";
}

.la-linkedin::before {
  content: "\f0e1";
}

body {
  font-family: "Vazirmatn", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: #080808;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #1263dc #f2f2f2;
}

body::-webkit-scrollbar {
  background-color: #f2f2f2;
  width: 8px;
  height: 4px;
}
body::-webkit-scrollbar-thumb {
  background-color: #1263dc;
  border-radius: 4px;
}

.overflow {
  overflow: hidden;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 1180px;
}

.container-fluid {
  padding: 0 30px;
  width: 100%;
}
@media (max-width: 1199px) {
  .container-fluid {
    padding: 0 20px;
  }
}

.select-content {
  position: relative;
}
.select-content::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  inset-inline-end: 28px;
  font-size: 14px;
  color: #080808;
  font-family: "Line Awesome Free";
  font-weight: 900;
  content: "\f107";
}

.img-contain {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.img-cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.en {
  display: inline-block;
  direction: ltr;
}

iframe {
  width: 100%;
  height: 100%;
}

.projects-sharped {
  margin: 54px 0;
  overflow: hidden;
}
@media (max-width: 991px) {
  .projects-sharped {
    margin: 40px 0;
  }
}

.projects-sharped-cont {
  padding: 83px 0;
  position: relative;
}
@media (max-width: 991px) {
  .projects-sharped-cont {
    padding: 20px 0;
  }
}
.projects-sharped-cont .project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}
@media (max-width: 767px) {
  .projects-sharped-cont .project-header {
    justify-content: center;
    margin-bottom: 30px;
  }
}
.projects-sharped-cont .project-header .project-title {
  font-size: 48px;
  font-weight: 700;
  color: #080808;
  text-align: center;
}
@media (max-width: 991px) {
  .projects-sharped-cont .project-header .project-title {
    font-size: 38px;
  }
}
@media (max-width: 767px) {
  .projects-sharped-cont .project-header .project-title {
    font-size: 34px;
  }
}

.projects-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  padding: 0 23px;
  gap: 8px;
  border: 2px solid #1263dc;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
}
@media (max-width: 767px) {
  .projects-btn {
    display: none;
  }
}
.projects-btn.xs {
  display: none;
}
@media (max-width: 767px) {
  .projects-btn.xs {
    display: flex;
    margin: auto;
  }
}
.projects-btn .btn-text {
  font-size: 16px;
  font-weight: 700;
  color: #1263dc;
  transition: all 0.5s ease-in-out;
}
.projects-btn .las {
  color: #1263dc;
  font-size: 20px;
  transform: rotate(45deg);
  font-weight: 700;
  transition: all 0.5s ease-in-out;
}
html[dir=ltr] .projects-btn .las {
  transform: rotate(-45deg);
}
html[dir=ltr] .projects-btn .las::before {
  content: "\f061";
}
.projects-btn:hover {
  background-color: #1263dc;
  border-color: rgb(97.8571428571, 155.7142857143, 242.1428571429);
}
.projects-btn:hover .btn-text {
  color: #fff;
}
.projects-btn:hover .las {
  color: #fff;
  transform: rotate(0);
}
html[dir=ltr] .projects-btn:hover .las {
  transform: rotate(0);
}

.projectsSwiper .swiper-wrapper {
  height: 330px;
}
@media (max-width: 1199px) {
  .projectsSwiper .swiper-wrapper {
    height: 280px;
  }
}

.projects-slide {
  position: relative;
}
.projects-slide .project-img {
  aspect-ratio: 376/252;
  position: relative;
  transition: all 0.4s ease-in-out;
}
.projects-slide .project-img .img-cover {
  display: flex;
}
.projects-slide .project-img::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.7) 100%);
  opacity: 0.7;
  transition: all 0.4s ease-in-out;
}
.projects-slide .project-bottom {
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: #1263dc;
  height: 49px;
  padding: 0 32px;
  gap: 4px;
}
.projects-slide .project-bottom .btn-text {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  border-bottom: 1px solid #fff;
}
.projects-slide .project-bottom .las {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  transform: translateY(1px);
  transition: all 0.5s ease-in-out;
}
html[dir=ltr] .projects-slide .project-bottom .las::before {
  content: "\f061";
}
.projects-slide .project-text {
  position: absolute;
  inset-inline-start: 32px;
  inset-inline-end: 32px;
  top: 32px;
  transition: all 0.4s ease-in-out;
}
.projects-slide .project-text .project-name {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  max-width: 250px;
  margin-bottom: 16px;
}
.projects-slide .project-text .project-desc {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}
@media (max-width: 1199px) {
  .projects-slide .project-text .project-desc {
    font-size: 14px;
  }
}
.projects-slide:hover .project-img {
  aspect-ratio: 376/284;
}
.projects-slide:hover .project-img::after {
  opacity: 1;
}
.projects-slide:hover .project-text {
  top: 58px;
}

.projects-sharped-cont .swiper-pagination {
  position: relative;
  margin-top: 50px;
  display: none;
}
@media (max-width: 1199px) {
  .projects-sharped-cont .swiper-pagination {
    display: flex;
    justify-content: center;
  }
}
.projects-sharped-cont .swiper-pagination-bullet-active {
  background-color: #1263dc;
}
.projects-sharped-cont .swiper-button-prev,
.projects-sharped-cont .swiper-button-next {
  width: 64px;
  height: 64px;
  background-color: #1263dc;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 335px;
  border: 2.67px solid #1263dc;
}
.projects-sharped-cont .swiper-button-prev::after,
.projects-sharped-cont .swiper-button-next::after {
  color: #fff;
  font-size: 26px;
}
@media (max-width: 1199px) {
  .projects-sharped-cont .swiper-button-prev,
  .projects-sharped-cont .swiper-button-next {
    display: none;
  }
}
.projects-sharped-cont .swiper-button-prev {
  left: -80px;
}
.projects-sharped-cont .swiper-button-prev::after {
  transform: translateX(-2px);
}
.projects-sharped-cont .swiper-button-next {
  right: -80px;
}
.projects-sharped-cont .swiper-button-next::after {
  transform: translateX(2px);
}
.projects-sharped-cont .swiper-button-disabled {
  opacity: 1 !important;
  background-color: #fff;
}
.projects-sharped-cont .swiper-button-disabled::after {
  color: #1263dc;
}/*# sourceMappingURL=main.css.map */