.about {
  padding: 70px 0;
  position: relative;
  background-color: lighten($setting_primary_color, $amount: 45%);

  @include sm {
    padding: 35px 0;
  }
}
.about-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  @include md {
  }
  @include sm {
  }
  @include xs {
    display: flex;
    flex-direction: column-reverse;
    background-color: #fff;
    gap: 10px;
  }
  .bg-svg {
    position: absolute;
    inset-inline-end: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include xs {
      display: none;
    }
    @include ltr {
      transform: scaleX(-1);
      inset-inline-start: 0;
      object-fit: contain;
      top: 2%;
    }
    .img-cover {
      display: flex;
      width: 104%;
      @include ltr {
        height: 96%;
        width: 100%;
      }
    }
  }
  .about-info {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    width: 56%;
    padding: 42px 0 42px 65px;
    @include md {
      padding: 20px 0 20px 35px;
    }
    @include sm {
      padding: 20px 0 20px 15px;
      width: 60%;
    }
    @include xs {
      width: 100%;
      padding: 10px;
    }
    @include ltr {
      padding: 42px 65px 42px 0;
      @include md {
        padding: 20px 35px 20px 0;
      }
      @include sm {
        padding: 20px 15 20px 0;
        width: 60%;
      }
      @include xs {
        width: 100%;
        padding: 10px;
      }
    }
    .title {
      font-size: 18px;
      font-weight: $weight_bold;
      color: $setting_secondary_color;
      margin: 0 0 12px 0;
      @include xs {
      }
    }
    .about-desc {
      margin: 0 0 24px 0;
      font-size: 40px;
      font-weight: $weight_bold;
      color: lighten($setting_text_color, 20%);
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      max-height: 168px;
      min-height: 112px;
      @include md {
        font-size: 32px;
        height: 135px;
        min-height: unset;
      }
      @include sm {
        font-size: 19px;
        margin: 0 0 14px 0;
        height: 54px;
        -webkit-line-clamp: 2;
      }
      @include xs {
        font-size: 20px;
        max-height: unset;
        -webkit-line-clamp: unset;
        height: unset;
      }
    }
    .about-text {
      margin: 0 0 32px 0;
      font-size: 16px;
      font-weight: $weight_light;
      color: lighten($setting_text_color, 20%);
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      height: 90px;
      @include sm {
        font-size: 14px;
        margin: 0 0 16px 0;
        height: 78px;
      }
      @include xs {
      }
    }

    .about-btn {
      display: flex;
      align-items: center;

      height: 56px;
      gap: 20px;
      background-color: #fff;
      border-radius: 80px;
      padding: 0 8px;
      max-width: 241px;
      border: 1px solid $setting_primary_color;

      .btn-text {
        font-size: 16px;
        font-weight: $weight_bold;
        color: $setting_primary_color;
        width: 100%;
        text-align: center;
      }
      .las {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $setting_primary_color;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        &::before {
          color: #fff;
        }
        @include ltr {
          &::before {
            content: "\f105";
          }
        }
      }
    }
  }

  .about-img {
    position: relative;

    z-index: 2;
    aspect-ratio: 325/355;
    width: 28%;
    border-start-start-radius: 16px;
    border-end-start-radius: 16px;
    margin-inline-start: 12px;
    @include xs {
      width: 100%;
      margin-inline-start: unset;
      padding: 10px;
      background-color: #fff;
    }
    @include ltr {
      aspect-ratio: 325/343;
    }

    .img-cover {
      display: flex;
      border-radius: 16px;
      @include ltr {
      }
    }
  }
}
